@font-face {
	font-family: monogram;
	src: url("assets/monogram_extended.ttf");
}

html {
    margin: 0px;
	padding: 0px;
}

body {
	font-family: monogram;
	font-size: 32px;
	margin: 0px;
	padding: 0px;
	background-color: #000;
	font-smooth: never;
	-webkit-font-smoothing: none;
	color: white;
}

#canvas-container {
	width: 800px;
	height: 600px;
	margin: auto;
	color:#000;
}

#iframe {
    top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 2;
    background-color: #000c;
    opacity: 0;
    pointer-events: none;
}

.pool-section {
    top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 3;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    max-width: 100vw;
    overflow-y: auto;
    text-align: center;
}

.pool.section > form {
    padding: 50px;
}

.question-div {
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}

/* form label {
    margin-left: 5px;
} */

.question-image-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.question-image {
    width: 300px;
    height: auto;
}

form label {
    margin-left: 15px;
}

input[type=checkbox].hidden {
    display: none;
}

input.image-checkbox[type=checkbox] + label
{
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 150px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin: 5px;
    object-fit: cover;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
}

input.image-checkbox:checked + label {
    border-color: #ff004d;
    border-width: 5px;
}

form input.success {
    border-color: #35d359;
    border-width: 5px;
}

form div.success {
    background-color: #35d359;
}

form input.error {
    border-color: #e74c3c;
    border-width: 5px;
}

form div {
    background-color: inherit;
}

form div.error {
    background-color: #e74c3c;
}

canvas {
	z-index: 1;
	display: block;
	/*prevents double click selection*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 0px;
	margin: auto;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
    image-rendering: crisp-edges;
    touch-action: manipulation;
}

#interface {
    display: block;
    margin: auto;
    text-align: center;
	margin-top: 8px;
	
}

#talk-form {
	display: block;
	background: none;
	/*width: 800px;*/
	width: 100%;
	margin: auto;
}

#talk-form {
	width: 100%;
	margin: auto;
	text-align: center;
	
}




/*TEXT FIELDS*/
.talk-field,
.lobby-field {
	font-family: monogram;
	border: none;
	padding-top: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
	outline: none;
    font-size: 64px;
    background-color: white;
}

.talk-field {
	display: inline-block;
	width: 70%;
	float: left;
    /*margin-right:4px;*/
    margin-top:4px;
}


/*USERNAME*/

.lobby-message {
    font-size: 64px;
    margin-bottom: 32px;
}

.lobby-error-message {
	font-size: 32px;
	color: #ff004d;
}

.lobby-field {
	border: 4px solid #757575;
	text-align: center;
	width: 80%;
	outline: none;
}

.talk-button,
.exit-frame-button,
.send-pool-button,
.join-button,
.user-button,
.avatar-button {
	font-family: monogram;
	font-size: 64px;
	margin: 0px;
	display: inline-block;
	border: none;
	text-align: center;
	color: white;
    background: #ff004d;
    outline: none;
    border-bottom: 4px solid#424242;
    margin-left: auto;
    margin-right:auto;
    padding-top: 4px;
	padding-bottom: 10px;
    padding-left: 16px;
	padding-right: 16px;
    cursor: pointer;
}

.send-pool-button {
    margin: 40px;
}

/*USERNAME CONTINUE*/
.lobby-button {
	padding-left: 16px;
	padding-right: 16px;
}

.talk-button {
    /*float: right;*/
  display:inline-block;
  float: left;
  min-width: 120px;
  width:28%;
}

.exit-frame-button {
    display: inline-block;
}

#info {
	visibility: hidden;
}

/*bottom link*/
.info {
	
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: block;
	text-align: right;
	margin-bottom: 8px;
	margin-right: 8px;
}

.info a {
	text-decoration: none;
	color: white;
}

.info a:hover {
	text-decoration: none;
	color:#ff77a8;;
}


/* On small screen stack the talk button */
@media screen and (max-height: 450px) {
  .talk-button {
	  float: none;
  }
	.talk-field {
		float: none;
		width: 98%;
		margin-bottom: 4px;
	}

	.info {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.info {
		display: none;
	}
}

.talk-button:active,
.user-button:active,
.avatar-button:active,
.join-button:active {
    background: #ff77a8;
    border-bottom: none;
    border-right: none;
    margin-top: 4px;
}

.talk-button:hover,
.user-button:hover,
.avatar-button:hover,
.join-button:hover {
	background: #ff77a8;
}

/*Animate join to make sure people don't miss it*/
@keyframes glowing {
    0% { background-color: #ff004d; }
    50% { background-color: #ff77a8;  }
    100% { background-color: #ff004d;  }
}

.join-button {
    animation: glowing 1300ms infinite;
}


/*LOBBY OVERLAYS*/
#lobby-container {
	display: block;
    height: 100%;
}


/* center on container */
.content-center {
	z-index: 2;
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	text-align: center;
}





